---
import { useTranslations } from "../../i18n/utils";
import DividerWithIcon from "../misc/DividerWithIcon.astro";
import services from "../../data/services.json";

const t = useTranslations("de");
---

<section class="page-section service pb-1" id="services">
  <div class="container">
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      {t("page.nav.services")}
    </h2>
    <DividerWithIcon iconClass="fa-cogs" lightMode={false} />

    <div class="row justify-content-center">
      {
        services.map((service) => (
          <div class="col-sm-6 col-md-4 col-lg-4 mb-5">
            <div class="service-item mx-auto d-flex">
              <div class="service-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="text-center text-white">
                  <p class="service-item-caption-title fs-2">
                    {t(service.name)}
                  </p>
                  <p class="service-item-caption-description d-flex gap-1">
                    {service.keywords.map((keyword) => (
                      <span class="badge bg-secondary">{t(keyword)}</span>
                    ))}
                  </p>
                </div>
              </div>
              <img
                class="img-fluid service-icon mx-auto"
                src={service.image}
                width="200"
                height="200"
                alt={`Logo ${service.name}`}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
