<h1>Neue Kontaktanfrage von {% if inquiry.name %}{{ inquiry.name }}{% else %}{{ inquiry.email }}{% endif %}</h1>

<p><b>Name:</b> {{ inquiry.name }}</p>
<p><b>E-Mail:</b> {{ inquiry.email }}</p>
<p><b>Nachricht:</b><br>{{ inquiry.message }}</p>
