<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Deutsch">
    <title>
        {% block title %}
            {{ 'page.title'|trans }}
        {% endblock %}
    </title>
    <meta name="description" content="{{ 'page.description'|trans }}">
    <meta name="keywords" content="{{ 'page.keywords'|trans }}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#20834D">
    <meta name="theme-color" content="#20834D">
    <meta name="author" content="{{ 'page.author'|trans }}">
    <meta name="copyright" content="{{ 'page.copyrightMeta'|trans }}"/>
    {% block stylesheets %}
        <link href="css/font-montserrat.css" rel="stylesheet" type="text/css"/>
        <link href="css/font-lato.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/styles.css" rel="stylesheet"/>
    {% endblock %}
</head>
<body id="start">
{% block navigation %}
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h3 class="h4 text-uppercase mb-4">
                        {{ 'page.location'|trans }}
                    </h3>
                    <p class="lead mb-0">
                        {{ 'page.locationText'|trans|raw }}
                    </p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <ul class="footer-links">
                        <li>
                            <a class="footer-link" href="{{ path('fe_datenschutz') }}">
                                {{ 'page.dataProtection'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="footer-link" href="{{ path('fe_impressum') }}">
                                {{ 'page.impressum'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h3 class="h4 text-uppercase mb-4">{{ 'page.aroundTheWeb'|trans }}</h3>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                       aria-label="{{ 'page.footer.links.github'|trans }}"
                       href="https://github.com/wolf-utz">
                        <i class="fab fa-fw fa-github"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                       aria-label="{{ 'page.footer.links.xing'|trans }}"
                       href="https://www.xing.com/profile/WolfPeter_Utz">
                        <i class="fab fa-fw fa-xing"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                       aria-label="{{ 'page.footer.links.linkedin'|trans }}"
                       href="https://www.linkedin.com/in/wolf-peter-utz/">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" target="_blank"
                       aria-label="{{ 'page.footer.links.email'|trans }}"
                       href="mailto:wolf@utz-it.de">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>{{ 'page.copyright'|trans|raw }}</small>
        </div>
    </div>
{% endblock %}
{% block javascripts_footer %}
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/font-awesome.js"></script>
    <script src="js/scripts.js"></script>
{% endblock %}
</body>
</html>
