{% extends "base.html.twig" %}

{% block header %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5 rounded" src="assets/img/me.jpg" alt="..."/>
            <h1 class="masthead-heading text-uppercase mb-0">Wolf-Peter Utz</h1>
            <p class="masthead-subheading font-weight-light mb-0">IT-Freelancer</p>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">E-Commerce - CMS - App - Individual</p>
        </div>
    </header>
{% endblock %}

{% block body %}
    <!-- Portfolio Section-->
    <section class="page-section portfolio pb-1" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Leistungen</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Item 1-->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto d-flex">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="text-center text-white">
                                <p class="portfolio-item-caption-title fs-2">Shopware</p>
                                <p class="portfolio-item-caption-description">
                                    <span class="badge bg-secondary">E-Commerce</span>
                                    <span class="badge bg-secondary">CMS</span>
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid service-icon mx-auto" src="assets/img/services/shopware.png"
                             alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto d-flex">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="text-center text-white">
                                <p class="portfolio-item-caption-title fs-2">TYPO3</p>
                                <p class="portfolio-item-caption-description">
                                    <span class="badge bg-secondary">CMS</span>
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid service-icon mx-auto" src="assets/img/services/typo3.svg"
                             alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto d-flex">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="text-center text-white">
                                <p class="portfolio-item-caption-title fs-2">WordPress</p>
                                <p class="portfolio-item-caption-description">
                                    <span class="badge bg-secondary">Blog</span>
                                    <span class="badge bg-secondary">CMS</span>
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid service-icon mx-auto" src="assets/img/services/wordpress.svg"
                             alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto d-flex">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="text-center text-white">
                                <p class="portfolio-item-caption-title fs-2">Symfony</p>
                                <p class="portfolio-item-caption-description">
                                    <span class="badge bg-secondary">Web-App</span>
                                    <span class="badge bg-secondary">API</span>
                                    <span class="badge bg-secondary">CLI</span>
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid service-icon mx-auto" src="assets/img/services/symfony.svg"
                             alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto d-flex">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="text-center text-white">
                                <p class="portfolio-item-caption-title fs-2">Spring</p>
                                <p class="portfolio-item-caption-description">
                                    <span class="badge bg-secondary">Web-App</span>
                                    <span class="badge bg-secondary">API</span>
                                    <span class="badge bg-secondary">CLI</span>
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid service-icon mx-auto" src="assets/img/services/spring.svg"
                             alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="portfolio-item mx-auto d-flex">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="text-center text-white">
                                <p class="portfolio-item-caption-title fs-2">Vue.js</p>
                                <p class="portfolio-item-caption-description">
                                    <span class="badge bg-secondary">Web-App</span>
                                </p>
                            </div>
                        </div>
                        <img class="img-fluid service-icon  mx-auto" src="assets/img/services/vuejs.svg"
                             alt="..."/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section-->
    <section class="page-section skills" id="skills">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Item 1-->
                <div class="col-sm-6 col-md-4 col-lg-2 mb-5">
                    <div class="portfolio-item d-flex">
                        <img class="img-fluid skill-icon mx-auto" src="assets/img/skills/php.svg" alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-sm-6 col-md-4 col-lg-2 mb-5">
                    <div class="portfolio-item d-flex">
                        <img class="img-fluid skill-icon mx-auto" src="assets/img/skills/java.svg" alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-sm-6 col-md-4 col-lg-2 mb-5">
                    <div class="portfolio-item d-flex">
                        <img class="img-fluid skill-icon mx-auto" src="assets/img/skills/csharp.svg" alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-sm-6 col-md-4 col-lg-2 mb-5 mb-lg-0">
                    <div class="portfolio-item d-flex">
                        <img class="img-fluid skill-icon mx-auto" src="assets/img/skills/javascript.svg" alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-sm-6 col-md-4 col-lg-2 mb-5 mb-md-0">
                    <div class="portfolio-item d-flex">
                        <img class="img-fluid skill-icon mx-auto" src="assets/img/skills/css.svg" alt="..."/>
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="portfolio-item d-flex">
                        <img class="img-fluid skill-icon mx-auto" src="assets/img/skills/html.svg" alt="..."/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Über mich</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto">
                    <p class="lead">Seit über 10 Jahren arbeite ich im Bereich der Webentwicklung und habe viele
                        Kenntnisse in verschiedenen Programmiersprachen und Frameworks sammeln können. Meine
                        Stärken liegen in meiner Fähigkeit, technische Konzepte zu verstehen, kreative Lösungen
                        zu entwickeln und diese effizient umzusetzen.</p>
                </div>
                <div class="col-lg-4 me-auto">
                    <p class="lead">Wenn Sie einen Softwareentwickler suchen, der über umfangreiche Erfahrung
                        verfügt, insbesondere in den Bereichen CMS, E-Commerce und Web-App, dann stehe ich Ihnen
                        gerne zur Verfügung. Zusammen können wir innovative Lösungen entwickeln und Ihr Projekt
                        zum Erfolg führen.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Kontakt</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <div id="contactForm" class="lead">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    {{ form_row(form.email) }}
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}